In [63]:
# Importn necessary libraries
import pandas as pd 
import matplotlib.pyplot as plt

In [ ]:
# load all datasets
dialogue_df = pd.read_csv('/Users/aditishah/Documents/CS176/Project/Harry_Potter_Movies/Dialogue.csv',encoding = "ISO-8859-1")
characters_df = pd.read_csv('/Users/aditishah/Documents/CS176/Project/Harry_Potter_Movies/Characters.csv',encoding = "ISO-8859-1")
movies_df = pd.read_csv('/Users/aditishah/Documents/CS176/Project/Harry_Potter_Movies/Movies.csv')
chapters_df = pd.read_csv('/Users/aditishah/Documents/CS176/Project/Harry_Potter_Movies/Chapters.csv', encoding = "ISO-8859-1")

In [81]:
# understand structure of these datasets

#dialogue_df.info()
#characters_df.info()
#movies_df.info()
#chapters_df.info()

# Summary
- 3 datasets that do not have null records for any of the columns: Dialogue.csv, Characters.csv, Movies.csv
- we see that there are 166, all having an ID and a name, but about 41 of them are not assigned a gender or species, about 90 characters are not assigned a house. Other fields in this dataset like Patronus and Wand(s) are nullable for most characters

In [76]:
dialogue_df.head()
#characters_df.head(20)
#movies_df.head(20)
#chapters_df.head(20)

    Chapter ID              Chapter Name  Movie ID  Movie Chapter
0            1         Doorstep Delivery         1              1
1            2       The Vanishing Glass         1              2
2            3       Letters from No One         1              3
3            4        Keeper of the Keys         1              4
4            5              Diagon Alley         1              5
5            6                 Gringotts         1              6
6            7               Ollivanders         1              7
7            8         The Boy Who Lived         1              8
8            9              Platform 9&¾         1              9
9           10          Ron and Hermione         1             10
10          11       Welcome to Hogwarts         1             11
11          12           The Sorting Hat         1             12
12          13  Nick and Other Residents         1             13
13          14       Potions and Parcels         1             14
14          15                New Seeker         1             15
15          16     Three-Headed Sentinel         1             16
16          17        Facts and Feathers         1             17
17          18            Mountain Troll         1             18
18          19                 Quidditch         1             19
19          20     Interference Overcome         1             20
20          21            Christmas Gift         1             21
21          22       Cloaked in darkness         1             22
22          23      The Mirror of Erised         1             23
23          24                   Norbert         1             24
24          25      The Forbidden Forest         1             25
25          26           Up to Something         1             26
26          27      Through the Trapdoor         1             27
27          28            Wizard's Chess         1             28
28          29            Sacrifice Play         1             29
29          30        Man With Two Faces         1             30
30          31               Magic Touch         1             31
31          32              Mark of Love         1             32
32          33          House Cup Winner         1             33
33          34     Not Really Going Home         1             34
34          35                 In a Cage         2              1
35          36           Dobby's Warning         2              2
36          37                Car Rescue         2              3
37          38                The Burrow         2              4
38          39           To Diagon Alley         2              5
39          40       Flourish and Blotts         2              6
40          41        Flying to Hogwarts         2              7
41          42           Whomping Willow         2              8
42          43     Not Expelled... Today         2              9
43          44   Mandrakes; Ron's Howler         2             10
44          45         Gilderoy Lockhart         2             11
45          46     Mudbloods and Murmurs         2             12
46          47       Writing on the Wall         2             13
47          48         About the Chamber         2             15
48          49             Rogue Bludger         2             16
49          50            No Longer Safe         2             17

In [65]:
movies_df

,Movie ID,Movie Title,Release Year,Runtime,Budget,Box Office
0,1,Harry Potter and the Philosopher's Stone,2001,152,"$125,000,000","$1,002,000,000"
1,2,Harry Potter and the Chamber of Secrets,2002,161,"$100,000,000","$880,300,000"
2,3,Harry Potter and the Prisoner of Azkaban,2004,142,"$130,000,000","$796,700,000"
3,4,Harry Potter and the Goblet of Fire,2005,157,"$150,000,000","$896,400,000"
4,5,Harry Potter and the Order of the Phoenix,2007,138,"$150,000,000","$942,000,000"
5,6,Harry Potter and the Half-Blood Prince,2009,153,"$250,000,000","$943,200,000"
6,7,Harry Potter and the Deathly Hallows Part 1,2010,146,"$200,000,000","$976,900,000"
7,8,Harry Potter and the Deathly Hallows Part 2,2011,130,"$250,000,000","$1,342,000,000"

In [66]:
chapters_df

     Chapter ID          Chapter Name  Movie ID  Movie Chapter
0             1     Doorstep Delivery         1              1
1             2   The Vanishing Glass         1              2
2             3   Letters from No One         1              3
3             4    Keeper of the Keys         1              4
4             5          Diagon Alley         1              5
..          ...                   ...       ...            ...
229         230      Declare Yourself         8             22
230         231              Not Over         8             23
231         232     The Wand's Choice         8             24
232         233   The Wizard's Choice         8             25
233         234  Nineteen Years Later         8             26

[234 rows x 4 columns]

###### Now that we have identified the unique identifiers from each of these datasets, we can use Pandas to join/merge this data to create a holistic Dataframe

In [67]:
join1 = dialogue_df.merge(chapters_df, on = 'Chapter ID')
join1

,Dialogue ID,Chapter ID,Place ID,Character ID,Dialogue,Chapter Name,Movie ID,Movie Chapter
0,1,1,8,4,I should have known that you would be here...P...,Doorstep Delivery,1,1
1,2,1,8,7,"Good evening, Professor Dumbledore. Are the ru...",Doorstep Delivery,1,1
2,3,1,8,4,"I'm afraid so, Professor. The good, and the bad.",Doorstep Delivery,1,1
3,4,1,8,7,And the boy?,Doorstep Delivery,1,1
4,5,1,8,4,Hagrid is bringing him.,Doorstep Delivery,1,1
...,...,...,...,...,...,...,...,...
7439,7440,234,71,1,Then Slytherin House will have gained a wonder...,Nineteen Years Later,8,26
7440,7441,234,71,84,Really?,Nineteen Years Later,8,26
7441,7442,234,71,1,Really.,Nineteen Years Later,8,26
7442,7443,234,71,1,Ready?,Nineteen Years Later,8,26
7443,7444,234,71,84,Ready.,Nineteen Years Later,8,26

In [68]:
movies_df_columns = ['Movie ID', 'Movie Title']
join2 = join1.merge(movies_df[movies_df_columns], on = 'Movie ID')
join2

,Dialogue ID,Chapter ID,Place ID,Character ID,Dialogue,Chapter Name,Movie ID,Movie Chapter,Movie Title
0,1,1,8,4,I should have known that you would be here...P...,Doorstep Delivery,1,1,Harry Potter and the Philosopher's Stone
1,2,1,8,7,"Good evening, Professor Dumbledore. Are the ru...",Doorstep Delivery,1,1,Harry Potter and the Philosopher's Stone
2,3,1,8,4,"I'm afraid so, Professor. The good, and the bad.",Doorstep Delivery,1,1,Harry Potter and the Philosopher's Stone
3,4,1,8,7,And the boy?,Doorstep Delivery,1,1,Harry Potter and the Philosopher's Stone
4,5,1,8,4,Hagrid is bringing him.,Doorstep Delivery,1,1,Harry Potter and the Philosopher's Stone
...,...,...,...,...,...,...,...,...,...
7439,7440,234,71,1,Then Slytherin House will have gained a wonder...,Nineteen Years Later,8,26,Harry Potter and the Deathly Hallows Part 2
7440,7441,234,71,84,Really?,Nineteen Years Later,8,26,Harry Potter and the Deathly Hallows Part 2
7441,7442,234,71,1,Really.,Nineteen Years Later,8,26,Harry Potter and the Deathly Hallows Part 2
7442,7443,234,71,1,Ready?,Nineteen Years Later,8,26,Harry Potter and the Deathly Hallows Part 2
7443,7444,234,71,84,Ready.,Nineteen Years Later,8,26,Harry Potter and the Deathly Hallows Part 2

In [72]:
characters_df_columns = ['Character ID', 'House', 'Gender']
join3 = join2.merge(characters_df[characters_df_columns], on = 'Character ID')
join3

,Dialogue ID,Chapter ID,Place ID,Character ID,Dialogue,Chapter Name,Movie ID,Movie Chapter,Movie Title,House,Gender
0,1,1,8,4,I should have known that you would be here...P...,Doorstep Delivery,1,1,Harry Potter and the Philosopher's Stone,Gryffindor,Male
1,2,1,8,7,"Good evening, Professor Dumbledore. Are the ru...",Doorstep Delivery,1,1,Harry Potter and the Philosopher's Stone,Gryffindor,Female
2,3,1,8,4,"I'm afraid so, Professor. The good, and the bad.",Doorstep Delivery,1,1,Harry Potter and the Philosopher's Stone,Gryffindor,Male
3,4,1,8,7,And the boy?,Doorstep Delivery,1,1,Harry Potter and the Philosopher's Stone,Gryffindor,Female
4,5,1,8,4,Hagrid is bringing him.,Doorstep Delivery,1,1,Harry Potter and the Philosopher's Stone,Gryffindor,Male
...,...,...,...,...,...,...,...,...,...,...,...
7439,7440,234,71,1,Then Slytherin House will have gained a wonder...,Nineteen Years Later,8,26,Harry Potter and the Deathly Hallows Part 2,Gryffindor,Male
7440,7441,234,71,84,Really?,Nineteen Years Later,8,26,Harry Potter and the Deathly Hallows Part 2,Slytherin,Male
7441,7442,234,71,1,Really.,Nineteen Years Later,8,26,Harry Potter and the Deathly Hallows Part 2,Gryffindor,Male
7442,7443,234,71,1,Ready?,Nineteen Years Later,8,26,Harry Potter and the Deathly Hallows Part 2,Gryffindor,Male
7443,7444,234,71,84,Ready.,Nineteen Years Later,8,26,Harry Potter and the Deathly Hallows Part 2,Slytherin,Male

In [73]:
join3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7444 entries, 0 to 7443
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Dialogue ID    7444 non-null   int64
 1   Chapter ID     7444 non-null   int64
 2   Place ID       7444 non-null   int64
 3   Character ID   7444 non-null   int64
 4   Dialogue       7444 non-null   object
 5   Chapter Name   7444 non-null   object
 6   Movie ID       7444 non-null   int64
 7   Movie Chapter  7444 non-null   int64
 8   Movie Title    7444 non-null   object
 9   House          6527 non-null   object
 10  Gender         7280 non-null   object
dtypes: int64(6), object(5)
memory usage: 639.8+ KB